<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <!--<link rel="stylesheet" href="{{site.baseurl}}/css/daos.css" type="text/css"> -->
    </head>
    <body>
    <div id="wrap">
    <div id="header">
        <h2>
            <a href="https://daos-stack.github.io/daos">
                DAOS:
            </a>
            <b>D</b>istributed <b>A</b>synchronous <b>O</b>bject <b>S</b>torage
        </h2>
    </div>
    <div id="nav">
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/blog/" title="Persistent Memory Programming Blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/about/" title="About This Project">About</a></li>
        </ul>
    </div>
    {{ content }}
    <div id="footer">
        <hr>
        {% include pagefooter.html %}
    </div>
</div>


    </body>
</html>
